.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.body {
  overflow-x: hidden;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.hoverable {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
 color: #0cc259;
}

/* css-animations */

.half-delay {
  --animate-delay: 0.25s;
}

.button {
  background-color: #0cc259;
  border: white;
  color: white;
  /* padding: 16px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {border: 2px solid white;}

.button1:hover {
  background-color: white;
  color: #0cc259;
}
